# <font color='red'> *실습* </font> 
# <font color='red'> DICTIONARIES AND BOOLEANS </font>

# <font color='blue'> 1. 밸류들을 전부 곱한 값을 출력하는 코드를 만드세요. </font>

In [1]:
my_dict = {'data1':500,
           'data2':-10,
           'data3':300}

In [2]:
my_dict['data1']

500

In [3]:
my_dict['data1'] * my_dict['data2'] * my_dict['data3']

-1500000

# <font color='blue'> 2. 각 학생별로, 중간과 기말의 평균점수를 구하세요.

In [9]:
student_details = [
  {'student_id' : 1, 'subject' : 'math', 'midterm' : 60, 'final' : 85},
  {'student_id' : 2, 'subject' : 'math', 'midterm' : 80, 'final' : 78},
  {'student_id' : 3, 'subject' : 'math', 'midterm' : 90, 'final' : 85}
]

In [5]:
student_details

[{'student_id': 1, 'subject': 'math', 'midterm': 60, 'final': 85},
 {'student_id': 2, 'subject': 'math', 'midterm': 80, 'final': 78},
 {'student_id': 3, 'subject': 'math', 'midterm': 90, 'final': 85}]

In [11]:
student_details[0]['final']

85

In [15]:
mid = student_details[0]['midterm'] + student_details[1]['midterm'] + student_details[2]['midterm']

In [16]:
mid / 3

76.66666666666667

In [13]:
fin = student_details[0]['final'] + student_details[1]['final'] + student_details[2]['final']

In [14]:
fin / 3

82.66666666666667

In [17]:
stu1 = student_details[0]['midterm'] + student_details[0]['final']

In [19]:
stu1 / 2

72.5

In [20]:
stu2 = student_details[1]['midterm'] + student_details[1]['final']

In [21]:
stu2 / 2

79.0

In [22]:
stu3 = student_details[2]['midterm'] + student_details[2]['final']

In [24]:
stu3 / 2

87.5

# <font color='blue'> 3. 위에서 구한 평균점수를,"AVERAGE" 라는 키를 새로 만들어서, 각 학생의 딕셔너리에 추가하세요.

In [25]:
student_details[0]['AVERAGE'] = stu1 / 2

In [27]:
print(student_details)

[{'student_id': 1, 'subject': 'math', 'midterm': 60, 'final': 85, 'AVERAGE': 72.5}, {'student_id': 2, 'subject': 'math', 'midterm': 80, 'final': 78}, {'student_id': 3, 'subject': 'math', 'midterm': 90, 'final': 85}]

In [28]:
student_details[1]['AVERAGE'] = stu2 / 2

In [29]:
student_details[2]['AVERAGE'] = stu3 / 2

In [30]:
print(student_details)

[{'student_id': 1, 'subject': 'math', 'midterm': 60, 'final': 85, 'AVERAGE': 72.5}, {'student_id': 2, 'subject': 'math', 'midterm': 80, 'final': 78, 'AVERAGE': 79.0}, {'student_id': 3, 'subject': 'math', 'midterm': 90, 'final': 85, 'AVERAGE': 87.5}]

# <font color='blue'> 4. 각각의 숫자를,  제곱한 값으로 바꾸세요.

In [31]:
dictionary = {'C1' : [10,20,30],
              'C2' : [20,30,40]}

In [38]:
dictionary['C1'][0] = ((dictionary['C1'][0]) ** 2)

In [39]:
dictionary

{'C1': [100, 20, 30], 'C2': [20, 30, 40]}

In [40]:
dictionary['C1'][1] = ((dictionary['C1'][1]) ** 2)

In [41]:
dictionary['C1'][2] = ((dictionary['C1'][2]) ** 2)

In [42]:
dictionary['C2'][0] = ((dictionary['C2'][0]) ** 2)

In [43]:
dictionary['C2'][1] = ((dictionary['C2'][1]) ** 2)

In [44]:
dictionary['C2'][2] = ((dictionary['C2'][2]) ** 2)

In [45]:
dictionary

{'C1': [100, 400, 900], 'C2': [400, 900, 1600]}

# <font color='blue'>  5. (1)모든 키를 리스트로 출력하세요. (2) 모든 밸류를 리스트로 출력하세요. (3) 모든 밸류의 값을 다 더하세요.

In [46]:
my_salary = {"alex": 25, "sally": 28, "dina": 30}

In [50]:
print(my_salary.keys())

dict_keys(['alex', 'sally', 'dina'])

In [92]:
my_salary_values_list = list(my_salary.values())

In [59]:
my_salary['alex'] + my_salary['sally'] + my_salary['dina']

83

In [94]:
my_salary_values_list[0] + my_salary_values_list[1] + my_salary_values_list[2]

83

In [96]:
sum( my_salary_values_list )
# dict에서 모든 수를 더하는 라이브러리

83

In [97]:
max( my_salary_values_list )

30

In [104]:
min( my_salary_values_list )

## 평균 구하는 파이썬 내장 라이브러리는 없음
## 그래서 만든 라이브러리는 '럼파스' '판다스'

25

In [101]:
sum( my_salary_values_list ) / len( my_salary_values_list )

## 평균구하는법 (파이썬으로)

27.666666666666668

# <font color='blue'>  6. 딕셔너리의 길이를 구하고, 나이에 대한 오름차순으로 정렬하세요.

In [102]:
my_dict = {"sally": 23, "dina": 22, "holy": 50, "Joe": 10, "Peter": 44}

In [103]:
len(my_dict)

5

In [106]:
my_dict.values()

dict_values([23, 22, 50, 10, 44])

In [109]:
my_dict.values.sort()

## 에러가남 sort()는 리스트의 함수기 때문

AttributeError: 'builtin_function_or_method' object has no attribute 'sort'

In [115]:
my_list = list(my_dict.values())

In [116]:
my_list.sort()

In [117]:
my_list

[10, 22, 23, 44, 50]

In [90]:
sorted(my_dict.values())

[10, 22, 23, 44, 50]

In [89]:
sorted(my_dict.items())

[('Joe', 10), ('Peter', 44), ('dina', 22), ('holy', 50), ('sally', 23)]

# <font color='blue'> 7. 다음 코드를 실행해서 결과를 확인하세요. </font>

In [76]:
x = 10
y = 20
print(x>y)
print(x<y)
print(x==y)
print(x!=y)

False
True
False
True