# <font color='red'> *실습* </font> 
# <font color='red'> SETS AND TUPLES </font>

# <font color='blue'> 1. 다음처럼 출력하세요. Hello Chanel, you are 26 years old!

In [36]:
my_tuple = ("Chanel", 26)

In [37]:
'Hello ' + my_tuple[0] + ', you are ' + str(my_tuple[1]) + ' years old!'

'Hello Chanel, you are 26 years old!'

In [38]:
'Hello {}, you are {} years old!'.format(my_tuple[0], my_tuple[1])

'Hello Chanel, you are 26 years old!'

# <font color='blue'> 2. 다음과 같은 튜플이 있습니다. (1) 모든 튜플 출력, (2) 마지막 값 출력, (2) 첫번째와 두번째 값 출력

In [40]:
my_tuple = ("chanel", "mitch", "sarah", "cynthia", "diane", "steeve")

In [41]:
print(my_tuple)

('chanel', 'mitch', 'sarah', 'cynthia', 'diane', 'steeve')

In [42]:
print(my_tuple[-1])

steeve

In [44]:
print(my_tuple[0], my_tuple[1])
print(my_tuple[ : 1+1])

chanel mitch
('chanel', 'mitch')

#  <font color='blue'> 3. 다음과 같은 튜플이 있습니다. (1) 길이를 구하세요. (2) 타입을 확인하세요.

In [12]:
my_tuple = ("Ryan", "ahmed", 25)

In [14]:
len(my_tuple)

3

In [15]:
type(my_tuple)

tuple

# <font color='blue'> 4. (1) "40"을 출력하세요, (2) "world"를 출력하세요, (3) 25 를 출력하세요, (4) 두번째 요소로 저장되어 있는 리스트를 출력하세요,(5) 맨 마지막 요소인 튜플을 출력하세요

In [16]:
my_tuple = ("hello", [87, 40, 60], "world", (10, 25, 30))

In [17]:
my_tuple[1][1]

40

In [18]:
my_tuple[2]

'world'

In [19]:
my_tuple[3][1]

25

In [20]:
my_tuple[1]

[87, 40, 60]

In [21]:
my_tuple[-1]

(10, 25, 30)

# <font color='blue'> 5. (1) python 이 들어 있는지 확인하세요. (2) Python 이 들어 있는지 확인하세요. (3) physics 가 없는지 확인하세요.

In [45]:
my_tuple = ('math','science','science','python','english')

In [26]:
list(my_tuple).count('python')

1

In [27]:
list(my_tuple).count('Python')

0

In [28]:
list(my_tuple).count('physics')

0

In [ ]:
list(my_tuple).

In [46]:
'python' in my_tuple

True

In [47]:
'Python' in  my_tuple

False

In [49]:
'physics' not in my_tuple

True

# <font color='blue'> 6. my_list에는 동일한 값들이 들어있습니다. 동일한 값들을 제거하여, 유니크한 값들의 리스트로 만드세요.  </font>

In [29]:
my_list = ["2", 50, "2", 50, 4, 6, 9, 9]

In [50]:
my_set = set(my_list)

In [54]:
my_set

{'2', 4, 50, 6, 9}

In [51]:
list(my_set)

[4, 6, 9, '2', 50]

#  <font color='blue'> 9. 자신의 이름을 추가하세요. 그리고 출력하세요.

In [31]:
my_set = {"sara", "mike", "jon", "jon", "mike"}

In [32]:
type(my_set)

set

In [33]:
my_set.add('Gwon seong pyo')

In [34]:
my_set

{'Gwon seong pyo', 'jon', 'mike', 'sara'}

In [55]:
my_variable = ()

In [56]:
my_variable

()

In [58]:
tuple(my_variable)

()

In [62]:
## tuple은 한개의 원소면은 안된다 , 콤마를 넣으면 튜플로 만들어진다

In [61]:
('1')

'1'

In [60]:
(1,)

(1,)

In [63]:
t = ('a', 'b', 'c')

In [64]:
t[0] = 'A'

TypeError: 'tuple' object does not support item assignment

In [65]:
t= list(t)

In [66]:
t[0] = 'A'

In [67]:
t

['A', 'b', 'c']

In [68]:
t= tuple(t)

In [69]:
t

('A', 'b', 'c')