In [1]:
my_list = [3, -20, -3, 44]
for data in my_list :
    if data < 0 :
        print(data)

-20
-3

In [2]:
my_list = ["A", "b", "c", "D"]
for data in my_list :
    if data.isupper() :
        print(data)

A
D

In [9]:
my_list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for data in my_list :
    splited_list = data.split('.') # ['intra'] , ['h']
    if splited_list[-1] == 'h' :
        print(data)

intra.h
define.h

In [ ]:
for data in my_list :
    '.h' in

In [10]:
def hello():
    print("Hi")

In [11]:
hello()

Hi

In [ ]:
B
C
B
C
B
C
A

In [ ]:
def print_coins() :
    for i in range(100) :
        print('비트코인')

In [12]:
def print_with_smile(sen) :
    print(sen + ':D')

In [16]:
print_with_smile('안녕하세요 ')

안녕하세요 :D

In [23]:
def print_upper_price(sel) :
    print(sel + (sel / 100 * 30), '원')

In [22]:
print_upper_price(50000)

65000.0 원

In [24]:
def print_upper_price(sel) :
    print(sel * 1.3)

In [26]:
print_upper_price(10000)

13000.0

In [27]:
def print_sum(num1, num2) :
    print(num1 + num2)

In [28]:
print_sum(5, 9)

14

In [36]:
def print_arithmetic_operation(num1, num2) :
    print('{} + {} = {}'.format(num1, num2, num1+num2))
    print('{} - {} = {}'.format(num1, num2, num1-num2))
    print('{} * {} = {}'.format(num1, num2, num1*num2))
    print('{} / {} = {}'.format(num1, num2, num1/num2))

In [38]:
print_arithmetic_operation(3 , 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [39]:
def print_arithmetic_operation(num1, num2) :
    print(num1, '+', num2, '=', num1 + num2)

In [41]:
print_arithmetic_operation(3, 4)

3 + 4 = 7

In [42]:
def print_max(num1, num2, num3) :
    max_list = [num1, num2, num3]
    if data in max_list :
        
        data = data

In [47]:
def print_max(num1, num2, num3) :
    if num1 > 0 :
        max1 = num1
    if num2 > max1 :
        max1 = num2
    if num3 > max1 :
        max1 = num3
    print(max1)

In [49]:
print_max(1, 8, 5)

8

In [51]:
def print_max(num1, num2, num3) :
    num_list = [num1, num2, num3]
    max(num_list)
    print(max(num_list))

In [54]:
print_max(1, 10 ,15)

15

In [55]:
print_max(1, 18 ,15)

18

In [56]:
print_max(20, 10 ,15)

20

In [64]:
def print_reverse(sentenc) :
    print(sentenc[-1 :  : -1])

In [66]:
print_reverse('apple')

elppa

In [70]:
def print_score(score_list) :
    average = sum(score_list) / len(score_list)
    print(average)

In [72]:
print_score([5, 15, 10])

10.0

In [79]:
def print_even(one_list) :
    last_list = []
    for data in one_list :
        if data % 2 == 0 :
            last_list.append(data)
    print(last_list)

In [80]:
print_even([1, 3, 2, 10, 12, 11, 15])

[2, 10, 12]

In [85]:
print_keys({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [84]:
def print_keys(my_dict) :
    for key in my_dict.keys() :
        print(key)

In [86]:
def calc_monthly_salary(salary) :
    print( int(salary / 12) )

In [87]:
calc_monthly_salary(500000)

41666

In [ ]:
def calc_monthly_salary(salary) :
    print( int(salary / 12) )

In [90]:
calc_monthly_salary(13300000)

1108333

In [94]:
def calc_monthly_salary(salary) :
    print( round(salary / 12, 2) )
    ## default 함수가 포함되어있다

In [93]:
calc_monthly_salary(13300000)

1108333.33

In [ ]:
def my_print (a, b) :
    print('왼쪽', a)
    print('오른쪽', b )

In [96]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(100, 200)

왼쪽: 100
오른쪽: 200

In [97]:
round(number = 3.77, no)
#parameter 가 내장되어있는것

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_7156/1907057703.py, line 1)

In [102]:
def make_url(sentenc) :
    return print('www.' + sentenc + '.com')

In [103]:
make_url('naver')

www.naver.com

In [108]:
def make_list(sentenc) :
    sen_list = []
    for data in range(len(sentenc)) :
        sen_list.append(sentenc[data])
    print(sen_list)

In [110]:
make_list('abcdefff')

['a', 'b', 'c', 'd', 'e', 'f', 'f', 'f']

In [117]:
def make_list(sentenc) :
    sen_list = []
    for data in sentenc :
        sen_list.append(data)
    return sen_list

In [118]:
make_list('adfbsdf')

['a', 'd', 'f', 'b', 's', 'd', 'f']

In [120]:
def pickup_even(number) :
    num = []
    for i in number :
        if i % 2 == 0 :
            num.append(i)
    return num

In [123]:
pickup_even([3, 4, 5, 6, 7, 8, 9])

[4, 6, 8]

In [ ]:
convert_int("1,234,567")
# 1234567