In [1]:
import pandas as pd

In [ ]:
# title 중복된값 제거

In [2]:
df_title = pd.read_csv('data/movies_metadata.csv', low_memory=False)

In [3]:
df_title = df_title[['title', 'id']]

In [4]:
df_title = df_title.drop_duplicates()

In [ ]:
# rating 필요한 컬럼만 가공

In [5]:
df_rating = pd.read_csv('data/ratings_small.csv')

In [6]:
df_rating = df_rating.iloc[ : , :2+1]

In [ ]:
# merge 하기 위해 데이터 똑같이 맞춤

In [7]:
df_title = df_title.rename(columns={'id':'movieId'})

In [8]:
df_title = df_title.dropna()

In [9]:
df_title['movieId'] = df_title['movieId'].astype(int)

In [ ]:
# 별점매긴 사람수 10개 이상인 영화만 추리기

In [14]:
df_ratcnt = df.groupby('title')['rating'].count()

In [15]:
df_ratcnt = df_ratcnt.to_frame()

In [16]:
df_ratcnt = df_ratcnt.loc[ df_ratcnt['rating'] >= 10 , ]

In [ ]:
# 조인하고

In [ ]:
df_titleindex = df_title.set_index('title')

In [ ]:
df_join = df_titleindex.join(df_ratcnt)

In [ ]:
# 10개 이하인, 즉 값이 nan인 컬럼 빼고
# title 데이터 간추림

In [ ]:
df_title = df_join.dropna()

In [ ]:
df_title = df_title['movieId'].to_frame()

In [ ]:
df_title = df_title.reset_index()

In [ ]:
# df 파일 완성

In [10]:
df = pd.merge(df_title, df_rating, on='movieId')

In [17]:
df

                      title  movieId  userId  rating
0                      Heat      949      23     3.5
1                      Heat      949     102     4.0
2                      Heat      949     232     2.0
3                      Heat      949     242     5.0
4                      Heat      949     263     3.0
...                     ...      ...     ...     ...
44984  Travelling with Pets    64197      73     4.0
44985  Travelling with Pets    64197     544     5.0
44986  Travelling with Pets    64197     648     3.5
44987            Cinderella    98604     352     4.0
44988      The One-Man Band    49280     187     5.0

[44989 rows x 4 columns]