In [1]:
import pandas as pd

In [35]:
import numpy as np

In [41]:
df = pd.read_csv('data/Top Rated Movie Database.csv')

In [5]:
df.head(3)

,Popularity,Vote Count,Titile,Vote Average,Overview,Release Date
0,453.361,2875,Ad Astra,5.9,"The near future, a time when both hope and har...",2019-09-17
1,315.622,2653,Bad Boys for Life,7.1,Marcus and Mike are forced to confront new thr...,2020-01-15
2,241.513,1419,Bloodshot,7.2,"After he and his wife are murdered, marine Ray...",2020-03-05

In [6]:
df

,Popularity,Vote Count,Titile,Vote Average,Overview,Release Date
0,453.361,2875,Ad Astra,5.9,"The near future, a time when both hope and har...",2019-09-17
1,315.622,2653,Bad Boys for Life,7.1,Marcus and Mike are forced to confront new thr...,2020-01-15
2,241.513,1419,Bloodshot,7.2,"After he and his wife are murdered, marine Ray...",2020-03-05
3,209.518,2717,Birds of Prey (and the Fantabulous Emancipatio...,7.1,"Harley Quinn joins forces with a singer, an as...",2020-02-05
4,188.203,3834,Star Wars: The Rise of Skywalker,6.5,The surviving Resistance faces the First Order...,2019-12-18
...,...,...,...,...,...,...
9995,8.311,101,Lebanon,6.4,"During the First Lebanon War in 1982, a lone t...",2009-09-24
9996,11.059,170,Pokémon Heroes: Latios and Latias,6.3,"Satoshi, Pikachu and his friends try and stop ...",2002-07-13
9997,9.372,14,The Captain,6.9,Based on the true story of a pilot who had to ...,2019-09-30
9998,9.061,123,Feast of Love,6.1,A meditation on love and its various incarnati...,2007-09-28
9999,7.576,247,Our Souls at Night,6.6,"Addie Moore and Louis Waters, a widow and wido...",2017-09-01

In [9]:
df['Titile'].nunique()

9674

In [15]:
df.isnull().sum()

Popularity       0
Vote Count       0
Titile           0
Vote Average     0
Overview        25
Release Date    19
dtype: int64

In [20]:
df.groupby('Titile')['Vote Average'].mean()

Titile
#Iamhere                5.5
#RealityHigh            6.4
'71                     6.8
'83                     0.0
(500) Days of Summer    7.2
                       ...
¡Three Amigos!          6.3
Æon Flux                5.5
È per il tuo bene       8.0
Смотри как я            0.0
ספירה לאחור             6.1
Name: Vote Average, Length: 9674, dtype: float64

In [27]:
df.loc[ df['Titile'] == 'Æon Flux' , ]

,Popularity,Vote Count,Titile,Vote Average,Overview,Release Date
2707,14.302,1292,Æon Flux,5.5,"400 years into the future, disease has wiped o...",2005-11-30

In [37]:
df['Vote Average']

0       5.9
1       7.1
2       7.2
3       7.1
4       6.5
       ...
9995    6.4
9996    6.3
9997    6.9
9998    6.1
9999    6.6
Name: Vote Average, Length: 10000, dtype: float64

In [29]:
df['Vote Average'].nunique()

70

In [30]:
df['Vote Average'].unique()

array([ 5.9,  7.1,  7.2,  6.5,  7.4,  8. ,  6.8,  6. ,  6.6,  7.8,  7. ,
        8.5,  5.2,  8.2,  4.5,  5.5,  7.9,  6.1,  8.1,  6.9,  8.3,  6.3,
        5.4,  8.4,  5.7,  4.9,  4.2,  7.7,  7.6,  7.5,  5.6,  8.7,  5.8,
        6.7,  6.4,  9. ,  7.3,  5.3,  4.8,  4.4,  4.7,  0. ,  4. ,  5.1,
        6.2, 10. ,  5. ,  2.7,  8.6,  1. ,  4.1,  4.3,  8.8,  3.6,  4.6,
        2. ,  3.8,  3.9,  2.9,  3.4,  3.5,  3.7,  3.1,  2.6,  3. ,  2.4,
        3.2,  2.8,  1.5,  1.8])

In [43]:
df.loc[df['Vote Average'] == 0 , 'Vote Average' ]

111     0.0
139     0.0
144     0.0
162     0.0
179     0.0
       ...
9517    0.0
9539    0.0
9882    0.0
9900    0.0
9958    0.0
Name: Vote Average, Length: 191, dtype: float64

In [44]:
df.loc[df['Vote Average'] == 0 , 'Vote Average' ] = df.loc[df['Vote Average'] == 0 , 'Vote Average' ].replace( 0, np.nan )

In [45]:
df['Vote Average'].unique()

array([ 5.9,  7.1,  7.2,  6.5,  7.4,  8. ,  6.8,  6. ,  6.6,  7.8,  7. ,
        8.5,  5.2,  8.2,  4.5,  5.5,  7.9,  6.1,  8.1,  6.9,  8.3,  6.3,
        5.4,  8.4,  5.7,  4.9,  4.2,  7.7,  7.6,  7.5,  5.6,  8.7,  5.8,
        6.7,  6.4,  9. ,  7.3,  5.3,  4.8,  4.4,  4.7,  nan,  4. ,  5.1,
        6.2, 10. ,  5. ,  2.7,  8.6,  1. ,  4.1,  4.3,  8.8,  3.6,  4.6,
        2. ,  3.8,  3.9,  2.9,  3.4,  3.5,  3.7,  3.1,  2.6,  3. ,  2.4,
        3.2,  2.8,  1.5,  1.8])

In [46]:
df

,Popularity,Vote Count,Titile,Vote Average,Overview,Release Date
0,453.361,2875,Ad Astra,5.9,"The near future, a time when both hope and har...",2019-09-17
1,315.622,2653,Bad Boys for Life,7.1,Marcus and Mike are forced to confront new thr...,2020-01-15
2,241.513,1419,Bloodshot,7.2,"After he and his wife are murdered, marine Ray...",2020-03-05
3,209.518,2717,Birds of Prey (and the Fantabulous Emancipatio...,7.1,"Harley Quinn joins forces with a singer, an as...",2020-02-05
4,188.203,3834,Star Wars: The Rise of Skywalker,6.5,The surviving Resistance faces the First Order...,2019-12-18
...,...,...,...,...,...,...
9995,8.311,101,Lebanon,6.4,"During the First Lebanon War in 1982, a lone t...",2009-09-24
9996,11.059,170,Pokémon Heroes: Latios and Latias,6.3,"Satoshi, Pikachu and his friends try and stop ...",2002-07-13
9997,9.372,14,The Captain,6.9,Based on the true story of a pilot who had to ...,2019-09-30
9998,9.061,123,Feast of Love,6.1,A meditation on love and its various incarnati...,2007-09-28
9999,7.576,247,Our Souls at Night,6.6,"Addie Moore and Louis Waters, a widow and wido...",2017-09-01

In [51]:
df_notnull = df[df['Vote Average'].notnull()]

In [54]:
df_notnull

,Popularity,Vote Count,Titile,Vote Average,Overview,Release Date
0,453.361,2875,Ad Astra,5.9,"The near future, a time when both hope and har...",2019-09-17
1,315.622,2653,Bad Boys for Life,7.1,Marcus and Mike are forced to confront new thr...,2020-01-15
2,241.513,1419,Bloodshot,7.2,"After he and his wife are murdered, marine Ray...",2020-03-05
3,209.518,2717,Birds of Prey (and the Fantabulous Emancipatio...,7.1,"Harley Quinn joins forces with a singer, an as...",2020-02-05
4,188.203,3834,Star Wars: The Rise of Skywalker,6.5,The surviving Resistance faces the First Order...,2019-12-18
...,...,...,...,...,...,...
9995,8.311,101,Lebanon,6.4,"During the First Lebanon War in 1982, a lone t...",2009-09-24
9996,11.059,170,Pokémon Heroes: Latios and Latias,6.3,"Satoshi, Pikachu and his friends try and stop ...",2002-07-13
9997,9.372,14,The Captain,6.9,Based on the true story of a pilot who had to ...,2019-09-30
9998,9.061,123,Feast of Love,6.1,A meditation on love and its various incarnati...,2007-09-28
9999,7.576,247,Our Souls at Night,6.6,"Addie Moore and Louis Waters, a widow and wido...",2017-09-01

In [53]:
df_notnull.nunique()

Popularity      6890
Vote Count      2767
Titile          9490
Vote Average      69
Overview        9793
Release Date    6068
dtype: int64

In [56]:
df_notnull.isnull().sum()

Popularity       0
Vote Count       0
Titile           0
Vote Average     0
Overview        14
Release Date     1
dtype: int64

In [64]:
df_notnull.groupby('Titile')['Vote Average'].mean()

Titile
#Iamhere                   5.5
#RealityHigh               6.4
'71                        6.8
(500) Days of Summer       7.2
*batteries not included    6.6
                          ...
xXx: State of the Union    4.9
¡Three Amigos!             6.3
Æon Flux                   5.5
È per il tuo bene          8.0
ספירה לאחור                6.1
Name: Vote Average, Length: 9490, dtype: float64

In [65]:
 = pd.DataFrame(df_notnull.groupby('Titile')['Vote Average'].mean())

                         Vote Average
Titile
#Iamhere                          5.5
#RealityHigh                      6.4
'71                               6.8
(500) Days of Summer              7.2
*batteries not included           6.6
...                               ...
xXx: State of the Union           4.9
¡Three Amigos!                    6.3
Æon Flux                          5.5
È per il tuo bene                 8.0
ספירה לאחור                       6.1

[9490 rows x 1 columns]