# <font color='red'> *실습* </font> 
# <font color='red'> STRINGS </font>

### [강의참고 : 문자열 만들기](   https://vision-ai.tistory.com/entry/Python-Strings-%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%AC%B8%EC%9E%90%EC%97%B4-%EB%A7%8C%EB%93%A4%EA%B8%B0   )

### [ 강의참고 : 문자열 추출](https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%AC%B8%EC%9E%90%EC%97%B4-%EC%B6%94%EC%B6%9C%EC%8A%AC%EB%9D%BC%EC%9D%B4%EC%8B%B1-Slicing-%EC%BD%9C%EB%A1%A0-%EC%82%AC%EC%9A%A9%EB%B2%95)

### [강의참고 : 문자열 함수](https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%AC%B8%EC%9E%90%EC%97%B4-%ED%95%A8%EC%88%98-upper-lower-title-split-%EB%AC%B8%EC%9E%90%EC%97%B4-%EB%B6%84%EB%A6%AC%ED%95%98%EA%B8%B0)

### [강의참고 : 문자열 관련 함수](https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%AC%B8%EC%9E%90%EC%97%B4-%EB%B0%94%EA%BE%B8%EA%B8%B0-%EB%AC%B8%EC%9E%90%EC%97%B4-%EA%B8%B8%EC%9D%B4-%EB%AC%B8%EC%9E%90%EC%97%B4-%EC%9C%84%EC%B9%98-%EC%B0%BE%EA%B8%B0-%EB%AC%B8%EC%9E%90%EC%97%B4-%EA%B0%9C%EC%88%98-%ED%8C%8C%EC%95%85)

#  <font color='blue'>1. 잘못된 곳을 고쳐서, 코드가 동작하도록 만드세요.  </font>

In [1]:
name = "Mitch"
Age = 26
Full_time_Employee = True

print(Name, age, full_time_employee)

NameError: name 'Name' is not defined

In [4]:
name = "Mitch"
Age = 26
Full_time_Employee = True

print(name, Age, Full_time_Employee)

Mitch 26 True

# <font color='blue'> 2. 잘못된 곳을 고쳐서, 코드가 동작하도록 만드세요. </font>

In [ ]:
x = "20"
y = 4

print(x - y)

In [5]:
x = "20"
y = 4

x= int(x)

print(x - y)

16

# <font color='blue'> 3. 유저로부터 문장을 입력받으세요. 그리고 그 문장을 공백기준 단어로 분리하여 출력하세요. </font>
- 입력 예) 유저로부터 : 안녕하세요? 오늘 날씨가 아주 좋네요.
- 출력 예) ['안녕하세요?', '오늘', '날씨가', '아주', '좋네요.']

In [41]:
a = input('문장 입력 : ')

문장 입력 :

In [42]:
a.split()

[]

# <font color='blue'> 4. 유저로 부터 영어 문자열을 입력받아서, 그 문자열을 대문자로 모두 바꾼후, 화면에 출력하세요. </font>

In [44]:
b = input('영어 문장 입력 : ')

영어 문장 입력 : SO "IT IS" QUITE DIFFERENT, THEN, IF IN A MOUNTAIN TOWN THE MOUNTAINS ARE CLOSE, RATHER THAN FAR. HERE  THEY ARE FAR, THEIR DISTANCE AWAY ESTABLISHED, CONSISTENT YEAR TO YEAR, LIKE A PARENT’S  OR SIBLING’S. THEY HAVE THEIR OWN MUSIC. SO I CONFESS I DO NOT KNOW WHAT IT’S LIKE,  LISTENING TO MOUNTAINS UP CLOSE, LIKE A LOVER, THE SILENCE OF THEM KNOWN, NOT GUESSED AT.

In [45]:
print(b.upper())

SO "IT IS" QUITE DIFFERENT, THEN, IF IN A MOUNTAIN TOWN THE MOUNTAINS ARE CLOSE, RATHER THAN FAR. HERE  THEY ARE FAR, THEIR DISTANCE AWAY ESTABLISHED, CONSISTENT YEAR TO YEAR, LIKE A PARENT’S  OR SIBLING’S. THEY HAVE THEIR OWN MUSIC. SO I CONFESS I DO NOT KNOW WHAT IT’S LIKE,  LISTENING TO MOUNTAINS UP CLOSE, LIKE A LOVER, THE SILENCE OF THEM KNOWN, NOT GUESSED AT.

# <font color='blue'> 5. 다음의 이메일 주소에서, 이메일의 아이디 부분과 도메인 부분을 분리하여 화면에 출력하세요. </font>

In [22]:
# 최상위 도매인은 .다음 ex) .com .kr .co(회사) .kr(국가)
email = 'cs_team@mucompany.co.kr'

In [23]:
email.split('@')

['cs_team', 'mucompany.co.kr']

# <font color='blue'> 6. 다음 문장에서, quite만 문자열을 추출하여 출력하세요.</font>

In [24]:
sentence = 'So it is quite different, then, if in a mountain town'

In [25]:
sentence.find('quite')

9

In [27]:
sentence[9 : 13+1]

'quite'

# <font color='blue'> 7. 다음 문장에서, 앞의 So를 제거하고, 뒤의 town을 제거한 문자열을 출력하세요.</font>

In [28]:
sentence = 'So it is quite different, then, if in a mountain town'

In [47]:
sentence.strip('So' 'town')

' it is quite different, then, if in a mountain '

# <font color='blue'> 8. 다음 문장 전체에서, 4번째 문자마다 출력하세요.</font>

In [31]:
sentence = 'So it is quite different, then, if in a mountain town'

In [32]:
sentence[ : : 4]

'St tir,einmt n'

# <font color='blue'> 9. 예를들어, 입력할 수 있는 글자수가 500글자 입니다. 다음 문장은 입력받을 수 있는 문장인지 확인하세요.</font>

In [35]:
essay = '''"She had a lot of money. She was a generous woman. She was once poor. She understood what it was like. She wanted to help out. On Christmas day, she handed out food to the poor. She made the food herself. She put a turkey leg, a scoop of mash potatoes, and peas on a plate. She gave the plate to each homeless person she saw.

The homeless people loved her. One homeless man even gave her a penny. She said to keep it for himself. She decided to do more. She gave $50 to every homeless person she saw. She felt good."'''

In [36]:
len(essay)

517

# <font color='blue'> 10. 위 문장(essay)에서 plate 라는 글자와, earth라는 글자가 들어있는지 확인하는 코드를 작성하세요.</font>

In [39]:
essay.find('plate')

267

In [40]:
essay.find('earth')

-1

In [48]:
essay.count('plate')

2

In [49]:
essay.count('earth')

0

In [50]:
essay

'"She had a lot of money. She was a generous woman. She was once poor. She understood what it was like. She wanted to help out. On Christmas day, she handed out food to the poor. She made the food herself. She put a turkey leg, a scoop of mash potatoes, and peas on a plate. She gave the plate to each homeless person she saw.\n\nThe homeless people loved her. One homeless man even gave her a penny. She said to keep it for himself. She decided to do more. She gave $50 to every homeless person she saw. She felt good."'

In [51]:
'plate' in essay

True

In [52]:
'earth' in essay

False