# <font color='red'> *실습* </font> 
# <font color='red'> LISTS </font>

# <font color='blue'> 1. 아래 이름들을, names 리스트로 만드세요.
    
    "sara", "chanel", "mike", "ryan", "holy", "alex", "rob"

In [65]:
names = ["sara", "chanel", "mike", "ryan", "holy", "alex", "rob"]

In [4]:
names

['sara', 'chanel', 'mike', 'ryan', 'holy', 'alex', 'rob']

# <font color='blue'> 2. 각 이름의 맨 앞자를 대문자로 바꿔서, names 리스트를 다시 만드세요.

In [6]:
names = ["Sara", "Chanel", "Mike", "Ryan", "Holy", "Alex", "Rob"]

In [66]:
names

['sara', 'chanel', 'mike', 'ryan', 'holy', 'alex', 'rob']

In [70]:
names[0] = names[0].title()

In [71]:
names

['Sara', 'chanel', 'mike', 'ryan', 'holy', 'alex', 'rob']

In [75]:
names[1] = names[1].title()

In [76]:
names

['Sara', 'Chanel', 'mike', 'ryan', 'holy', 'alex', 'rob']

In [77]:
names[2] = names[2].title()

In [78]:
names

['Sara', 'Chanel', 'Mike', 'ryan', 'holy', 'alex', 'rob']

In [79]:
names[3] = names[3].title()

In [80]:
names[4] = names[4].title()

In [81]:
names[5] = names[5].title()

In [82]:
names[6] = names[6].title()

In [83]:
names

['Sara', 'Chanel', 'Mike', 'Ryan', 'Holy', 'Alex', 'Rob']

In [ ]:
# 배운걸로 써먹자
# 만들었으면 어디에 저장할것인가?

# <font color='blue'> 3. (1)두번째 항목 출력, (2) 마지막 항목을 출력 </font>

In [8]:
names[1]

'Chanel'

In [9]:
names[-1]

'Rob'

# <font color='blue'> 4. "Chanel" "Mike" "Ryan" 항목 출력, </font>

In [84]:
names[1], names[2]

('Chanel', 'Mike')

In [11]:
names[2]

'Mike'

In [12]:
names[3]

'Ryan'

# <font color='blue'> 5. 리스트 맨 마지막 3개 항목을 출력하기</font>

In [13]:
names[-3:]

['Holy', 'Alex', 'Rob']

# <font color='blue'> 6. 다음을 출력 (1) aly, (2) sally (3) peter, aly </font>

In [14]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [15]:
my_list[3]

'aly'

In [16]:
my_list[1][1]

'sally'

In [20]:
my_list[2], my_list[3]

('peter', 'aly')

# <font color='blue'> 7. 현재 리스트의 길이를 먼저 구하고, 자신의 이름을 맨 끝에 추가하세요. </font>

In [24]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [21]:
len(my_list)

4

In [27]:
my_list.append('gwon')

In [28]:
my_list

['Mitch', ['sara', 'sally', 'joe'], 'peter', 'aly', 'gwon']

# <font color='blue'> 8. "PETER" 를 리스트에서 제거하세요. </font>

In [29]:
del my_list[2]

In [30]:
my_list

['Mitch', ['sara', 'sally', 'joe'], 'aly', 'gwon']

# <font color='blue'> 9. "Mitch" 오른쪽에 "Mike"를 추가하세요. </font>

In [31]:
my_list

['Mitch', ['sara', 'sally', 'joe'], 'aly', 'gwon']

In [34]:
my_list.insert(1, 'Mike')

In [35]:
my_list

['Mitch', 'Mike', ['sara', 'sally', 'joe'], 'aly', 'gwon']

# <font color='blue'> 10. 오름차순으로 순서대로 정렬하세요. </font>

In [36]:
my_list = [50, 20, 30, 10, 40, 15, 45]

In [38]:
my_list.sort()

In [39]:
my_list

[10, 15, 20, 30, 40, 45, 50]

# <font color='blue'> 11. 위 리스트를 내림차순으로 정렬하세요. </font>

In [40]:
my_list.sort(reverse = True)

In [41]:
my_list

[50, 45, 40, 30, 20, 15, 10]

# <font color='blue'> 12. 리스트 안에, 리스트들이 들어 있습니다. 안쪽 리스트들의 맨 마지막 항목들만 뽑아서, 새로운 리스트를 만드세요. </font> 
- chocolate, potatoes, protein bar 를 뽑아내는 코드를 작성하고, 이들을 리스트로 만듭니다.

In [42]:
grocery_list = [['chips','jelly','chocolate'],['sweet potatoes','potatoes'],['peanuts','protein bar']]

In [44]:
a = grocery_list[0][2]

In [46]:
b = grocery_list[1][1]

In [47]:
c = grocery_list[2][1]

In [49]:
new_list = [a, b, c]

In [50]:
new_list

['chocolate', 'potatoes', 'protein bar']

In [85]:
new_list = list()

In [86]:
new_list

[]

In [88]:
new_list.append(grocery_list[0][2])

# <font color='blue'> 13. 다음 문장을, 공백기준으로 잘라서, 리스트로 만드세요. 그리고 to 라는 단어가 몇개 인지 확인하세요. </font> 
- 예)   [ 'She', 'had', 'a', 'lot',,,,]
- 문자열 부분에서 배운 함수를 참고하세요

In [51]:
essay = '''"She had a lot of money. She was a generous woman. She was once poor. She understood what it was like. She wanted to help out. On Christmas day, she handed out food to the poor. She made the food herself. She put a turkey leg, a scoop of mash potatoes, and peas on a plate. She gave the plate to each homeless person she saw.

The homeless people loved her. One homeless man even gave her a penny. She said to keep it for himself. She decided to do more. She gave $50 to every homeless person she saw. She felt good."'''

In [53]:
ess = essay.split(" ")

In [89]:
#데이터를 저장하는것 제일 기본적인게  리스트다

In [90]:
print(ess)

['"She', 'had', 'a', 'lot', 'of', 'money.', 'She', 'was', 'a', 'generous', 'woman.', 'She', 'was', 'once', 'poor.', 'She', 'understood', 'what', 'it', 'was', 'like.', 'She', 'wanted', 'to', 'help', 'out.', 'On', 'Christmas', 'day,', 'she', 'handed', 'out', 'food', 'to', 'the', 'poor.', 'She', 'made', 'the', 'food', 'herself.', 'She', 'put', 'a', 'turkey', 'leg,', 'a', 'scoop', 'of', 'mash', 'potatoes,', 'and', 'peas', 'on', 'a', 'plate.', 'She', 'gave', 'the', 'plate', 'to', 'each', 'homeless', 'person', 'she', 'saw.\n\nThe', 'homeless', 'people', 'loved', 'her.', 'One', 'homeless', 'man', 'even', 'gave', 'her', 'a', 'penny.', 'She', 'said', 'to', 'keep', 'it', 'for', 'himself.', 'She', 'decided', 'to', 'do', 'more.', 'She', 'gave', '$50', 'to', 'every', 'homeless', 'person', 'she', 'saw.', 'She', 'felt', 'good."']

In [63]:
ess.count('to')

6

In [94]:
essay.count('to')
# 단어의 to까지 포함 

# 두개의 카운트는 리스트함수, 문자열함수 로 다름

8

In [93]:
essay

'"She had a lot of money. She was a generous woman. She was once poor. She understood what it was like. She wanted to help out. On Christmas day, she handed out food to the poor. She made the food herself. She put a turkey leg, a scoop of mash potatoes, and peas on a plate. She gave the plate to each homeless person she saw.\n\nThe homeless people loved her. One homeless man even gave her a penny. She said to keep it for himself. She decided to do more. She gave $50 to every homeless person she saw. She felt good."'

# NOW YOU KNOW HOW LISTS WORK, KEEP IT UP!